# Lines that start with '#' are comments.

# generic part (can be overridden locally using !pattern)
bin/
dist/
logs/
classes/
target/
/_*/
*.patch
work/

# Eclipse
.classpath
.project
.settings

# all hail windows
Thumbs.db

# and mac too
.DS_Store
